* { margin:0; padding:0; box-sizing:border-box; }

body { font-family: Arial; }

/* NAVBAR */
.navbar {
  background:black;
  color:white;
  display:flex;
  justify-content:space-between;
  padding:15px;
}

.menu a {
  color:white;
  margin:0 10px;
  text-decoration:none;
}

/* HERO */
.hero {
  height:40vh;
  background:#333;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* SECTION */
.section { padding:40px; }

/* GRID */
.grid {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

/* CARD */
.card {
  border:1px solid #ddd;
  padding:10px;
}

.card img {
  width:100%;
  height:150px;
  object-fit:cover;
}

/* RESULT */
.result-card {
  background:#f4f4f4;
  padding:15px;
  margin-top:10px;
}

/* LOGIN */
.login-box {
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background:white;
  padding:20px;
  display:none;
}

/* ADMIN */
.admin-panel {
  display:none;
  margin-top:20px;
}